<?xml version='1.0' encoding='UTF-8'?>
<feed
	xmlns='http://www.w3.org/2005/Atom'
	xmlns:media='http://search.yahoo.com/mrss/'
	xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/'
	xmlns:gd='http://schemas.google.com/g/2005'
	xmlns:yt='{{url}}/schemas/1970' gd:etag='W/&quot;D0UHSX47eCp7I2A9WhJWF08.&quot;'>
	<id>tag:youtube.com,2008:playlist:8E2186857EE27746</id>
	<updated>2012-08-23T12:33:58.000Z</updated>
	<category scheme='http://schemas.google.com/g/2005#kind' term='{{url}}/schemas/1970#playlist'/>
	<title></title>
	<subtitle></subtitle>
	<logo>http://www.gstatic.com/youtube/img/logo.png</logo>
	<link rel='alternate' type='text/html' href='http://www.youtube.com/playlist?list=PL8E2186857EE27746'/>
	<link rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='{{url}}/feeds/api/playlists/8E2186857EE27746?v=2'/>
	<link rel='http://schemas.google.com/g/2005#batch' type='application/atom+xml' href='{{url}}/feeds/api/playlists/8E2186857EE27746/batch?v=2'/>
	<link rel='self' type='application/atom+xml' href='{{url}}/feeds/api/playlists/8E2186857EE27746?start-index=1&amp;max-results=25&amp;v=2'/>
	<link rel='service' type='application/atomsvc+xml' href='{{url}}/feeds/api/playlists/8E2186857EE27746?alt=atom-service&amp;v=2'/>
	<author>
		<name></name>
		<uri></uri>
		<yt:userId></yt:userId>
	</author>
	<generator version='2.1' uri='{{url}}'>YouTube data API</generator>
<openSearch:totalResults>50</openSearch:totalResults>
  <openSearch:itemsPerPage>50</openSearch:itemsPerPage>
  <openSearch:startIndex>1</openSearch:startIndex>

{% for video in data %}
	<entry gd:etag='W/&quot;{{video['videoId']}}.&quot;'>
		<id>tag:youtube.com,2008:playlist:{{video['videoId']}}:{{video['videoId']}}</id>
		<published>{{ unix(video['published']) }}</published>
		<updated>{{ unix(video['published']) }}</updated>
		<category scheme='http://schemas.google.com/g/2005#kind' term='{{url}}/schemas/1970#video'/>
		<category scheme='{{url}}/schemas/1970/categories.cat' term='Howto' label='Howto &amp; Style'/>
		<title>{{video['title']}}</title>
		<content type='application/x-shockwave-flash' src=''/>
		<link rel='alternate' type='text/html' href='http://www.youtube.com/watch?v={{video['videoId']}}&amp;feature=youtube_gdata'/>
		<link rel='{{url}}/schemas/1970#video.related' type='application/atom+xml' href='{{url}}/feeds/api/videos/{{video['videoId']}}/related?v=2'/>
		<link rel='{{url}}/schemas/1970#mobile' type='text/html' href='http://m.youtube.com/details?v={{video['videoId']}}'/>
		<link rel='{{url}}/schemas/1970#uploader' type='application/atom+xml' href='{{url}}/feeds/api/users/{{video['authorId']}}?v=2e'/>
		<link rel="{{url}}/schemas/2007#related" type="application/atom+xml" href="{{url}}/feeds/api/videos/{{video['videoId']}}/related" />
		<link rel='related' type='application/atom+xml' href='{{url}}/feeds/api/videos/{{video['videoId']}}?v=2'/>
		<link rel='self' type='application/atom+xml' href='{{url}}/feeds/api/playlists/8E2186857EE27746/PLyl9mKRbpNIpJC5B8qpcgKX8v8NI62Jho?v=2'/>
		<author>
			<name>{{video['author']}}</name>
			<uri>http://useless</uri>
			<yt:userId>{{video['authorId']}}</yt:userId>
		</author>
		<yt:accessControl action='comment' permission='allowed'/>
		<yt:accessControl action='commentVote' permission='allowed'/>
		<yt:accessControl action='videoRespond' permission='moderated'/>
		<yt:accessControl action='rate' permission='allowed'/>
		<yt:accessControl action='embed' permission='allowed'/>
		<yt:accessControl action='list' permission='allowed'/>
		<yt:accessControl action='autoPlay' permission='allowed'/>
		<yt:accessControl action='syndicate' permission='allowed'/>
		<gd:comments>
			<gd:feedLink rel='{{url}}/schemas/1970#comments' href='{{url}}/api/videos/{{video['videoId']}}/comments?v=2' countHint='5'/>
		</gd:comments>
		<gd:related>
			<gd:feedLink rel='{{url}}/schemas/1970#related' href='{{url}}/feeds/api/videos/{{video['videoId']}}/related?v=2' countHint='5'/>
		</gd:related>
		<yt:location></yt:location>
		<media:group>
			<media:category label='Howto &amp; Style' scheme='{{url}}/schemas/1970/categories.cat'>Howto</media:category>
			<media:content url='http://www.youtube.com/v/{{video['videoId']}}?version=3&amp;f=playlists&amp;app=youtube_gdata' type='application/x-shockwave-flash' medium='video' isDefault='true' expression='full' duration='0' yt:format='5'/>
			<media:content url='http://useless//{{video['videoId']}}.3gpp" type="video/3gpp' type='video/3gpp' medium='video' expression='full' duration='0' yt:format='1'/>
			<media:content url='http://useless//{{video['videoId']}}.3gpp" type="video/3gpp' type='video/3gpp' medium='video' expression='full' duration='0' yt:format='6'/>
			<media:credit role='uploader' scheme='urn:youtube' yt:display='{{video['author']}}' yt:type='partner'>{{video['authorId']}}</media:credit>
			<media:description type='plain'>{{video['description']}}</media:description>
			<media:keywords/>
			<media:license type='text/html' href='http://www.youtube.com/t/terms'>youtube</media:license>
			<media:player url='http://www.youtube.com/watch?v={{video['videoId']}}&amp;feature=youtube_gdata_player'/>
			<media:thumbnail url='https://i.ytimg.com/vi/{{video['videoId']}}/default.jpg' height='90' width='120' time='00:00:00.000' yt:name='default'/>
			<media:thumbnail url='https://i.ytimg.com/vi/{{video['videoId']}}/mqdefault.jpg' height='180' width='320' yt:name='mqdefault'/>
			<media:thumbnail url='https://i.ytimg.com/vi/{{video['videoId']}}/hqdefault.jpg' height='360' width='480' yt:name='hqdefault'/>
			<media:thumbnail url='https://i.ytimg.com/vi/{{video['videoId']}}/default.jpg' height='90' width='120' time='00:00:00.000' yt:name='start'/>
			<media:thumbnail url='https://i.ytimg.com/vi/{{video['videoId']}}/default.jpg' height='90' width='120' time='00:00:00.000' yt:name='middle'/>
			<media:thumbnail url='https://i.ytimg.com/vi/{{video['videoId']}}/default.jpg' height='90' width='120' time='00:00:00.000' yt:name='end'/>
			<media:content url="{{url}}/getvideo/{{video['videoId']}}" type="video/mp4" medium="video" isDefault="true" expression="full" duration="0" yt:format="3" />
			<media:content url="{{url}}//{{video['videoId']}}.3gpp" type="video/3gpp" medium="video" expression="full" duration="0" yt:format="2" />
			<media:content url="{{url}}/getvideo/{{video['videoId']}}" type="video/mp4" medium="video" expression="full" duration="0" yt:format="8" />
			<media:content url="{{url}}//{{video['videoId']}}.3gpp" type="video/3gpp" medium="video" expression="full" duration="0" yt:format="9" />
			<media:title type='plain'>{{video['description']}}</media:title>
			<yt:duration seconds='{{video['lengthSeconds']}}'/>
			<yt:uploaded>{{ unix(video['published']) }}</yt:uploaded>
			<yt:uploaderId>{{video['authorId']}}</yt:uploaderId>
			<yt:videoid>{{video['videoId']}}</yt:videoid>
		</media:group>
		<gd:rating average='0' max='0' min='0' numRaters='0' rel='https://schemas.google.com/g/2005#overall'/>
		<yt:recorded>1970-08-22</yt:recorded>
		<yt:statistics favoriteCount='0' viewCount='{{video['viewCount']}}'/>
		<yt:rating numDislikes='0' numLikes='0'/>
		<yt:position>1</yt:position>
	</entry>
{% endfor %}

</feed>