<?xml version='1.0' encoding='UTF-8'?>
<?xml version='1.0' encoding='UTF-8'?>
<feed
	xmlns='http://www.w3.org/2005/Atom'
	xmlns:media='http://search.yahoo.com/mrss/'
	xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/'
	xmlns:gd='http://schemas.google.com/g/2005'
	xmlns:yt='/schemas/1970' gd:etag='W/&quot;D0UHSX47eCp7I2A9WhJWF08.&quot;'>
	<id>tag:youtube.com,2008:playlist:8E2186857EE27746</id>
	<updated>2012-08-23T12:33:58.000Z</updated>
	<category scheme='http://schemas.google.com/g/2005#kind' term='/schemas/1970#playlist'/>
	<title></title>
	<subtitle></subtitle>
	<logo>http://www.gstatic.com/youtube/img/logo.png</logo>
	<link rel='alternate' type='text/html' href='http://www.youtube.com/playlist?list=PL8E2186857EE27746'/>
	<link rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='/feeds/api/playlists/8E2186857EE27746?v=2'/>
	<link rel='http://schemas.google.com/g/2005#batch' type='application/atom+xml' href='/feeds/api/playlists/8E2186857EE27746/batch?v=2'/>
	<link rel='self' type='application/atom+xml' href='/feeds/api/playlists/8E2186857EE27746?start-index=1&amp;max-results=25&amp;v=2'/>
	<link rel='service' type='application/atomsvc+xml' href='/feeds/api/playlists/8E2186857EE27746?alt=atom-service&amp;v=2'/>
	<author>
		<name></name>
		<uri>{{url}}</uri>
		<yt:userId></yt:userId>
	</author>
	<generator version='2.1' uri='/'>YouTube data API</generator>
<openSearch:totalResults>{{data|count}}</openSearch:totalResults>
  <openSearch:itemsPerPage>{{data|count}}</openSearch:itemsPerPage>
  <openSearch:startIndex>1</openSearch:startIndex>

{% for video in data %}
	{% set channel = video['channel_name'] %}
	{% set channel_id = video['channel_id'] %}
	{% set video_id = video['video_id'] %}
	{% set title = video['title'] %}
	{% set description = video['description'] %}
	{% set time = unix('0') %}
	{% set views = video['views'] %}
	{% set length = video['length'] %}
	<entry gd:etag='W/&quot;{{video_id}}.&quot;'>
		<id>tag:youtube.com,2008:playlist:{{video_id}}:{{video_id}}</id>
		<published>{{ time }}</published>
		<updated>{{ time }}</updated>
		<category scheme='http://schemas.google.com/g/2005#kind' term='/schemas/1970#video'/>
		<category scheme='/schemas/1970/categories.cat' term='Howto' label='Howto &amp; Style'/>
		<title>{{title}}</title>
		<content type='application/x-shockwave-flash' src=''/>
		<link rel='alternate' type='text/html' href="http://www.youtube.com/watch?v={{video_id}}&amp;feature=youtube_gdata"/>
		<link rel='http://gdata.youtube.com/schemas/2007#video.related' type='application/atom+xml' href="https://gdata.youtube.com/feeds/api/videos/{{video_id}}/related"/>
		<link rel='/schemas/1970#mobile' type='text/html' href="http://m.youtube.com/details?v={{video_id}}"/>
		<link rel='/schemas/1970#uploader' type='application/atom+xml' href="{{url}}/feeds/api/users/{{channel_id}}?v=2e"/>
		<link rel="/schemas/2007#related" type="application/atom+xml" href="{{url}}/feeds/api/videos/{{video_id}}/related" />
		<link rel='related' type='application/atom+xml' href="{{url}}/feeds/api/videos/{{video_id}}?v=2"/>
		<link rel='self' type='application/atom+xml' href='/feeds/api/playlists/8E2186857EE27746/PLyl9mKRbpNIpJC5B8qpcgKX8v8NI62Jho?v=2'/>
		<author>
			<name>{{channel}}</name>
			<uri>/</uri>
			<yt:userId>{{channel_id}}</yt:userId>
		</author>
		<yt:accessControl action='comment' permission='allowed'/>
		<yt:accessControl action='commentVote' permission='allowed'/>
		<yt:accessControl action='videoRespond' permission='moderated'/>
		<yt:accessControl action='rate' permission='allowed'/>
		<yt:accessControl action='embed' permission='allowed'/>
		<yt:accessControl action='list' permission='allowed'/>
		<yt:accessControl action='autoPlay' permission='allowed'/>
		<yt:accessControl action='syndicate' permission='allowed'/>
		<gd:comments>
			<gd:feedLink rel='/schemas/1970#comments' href="{{url}}/api/videos/{{video_id}}/comments?v=2" countHint='5'/>
		</gd:comments>
		<gd:related>
			<gd:feedLink rel='/schemas/1970#related' href="{{url}}/feeds/api/videos/{{video_id}}/related" countHint='5'/>
		</gd:related>
		<yt:location></yt:location>
		<media:group>
			<media:category label='Howto &amp; Style' scheme='/schemas/1970/categories.cat'>Howto</media:category>
			<media:content url="http://www.youtube.com/v/{{video_id}}?version=3&amp;f=playlists&amp;app=youtube_gdata" type='application/x-shockwave-flash' medium='video' isDefault='true' expression='full' duration='0' yt:format='5'/>
			<media:content url="{{url}}/getvideo/{{video_id}}" type='video/3gpp' type='video/3gpp' medium='video' expression='full' duration='0' yt:format='1'/>
			<media:content url="{{url}}/getvideo/{{video_id}}" type='video/3gpp' type='video/3gpp' medium='video' expression='full' duration='0' yt:format='6'/>
			<media:credit role='uploader' scheme='urn:youtube' yt:display='{{channel}}' yt:type='partner'>{{channel_id}}</media:credit>
			<media:description type='plain'>{{description}}</media:description>
			<media:keywords/>
			<media:license type='text/html' href='http://www.youtube.com/t/terms'>youtube</media:license>
			<media:player url="http://www.youtube.com/watch?v={{video_id}}&amp;feature=youtube_gdata_player"/>
			<media:thumbnail url="https://i.ytimg.com/vi/{{video_id}}/default.jpg" height='90' width='120' time='00:00:00.000' yt:name='default'/>
			<media:thumbnail url="https://i.ytimg.com/vi/{{video_id}}/mqdefault.jpg" height='180' width='320' yt:name='mqdefault'/>
			<media:thumbnail url="https://i.ytimg.com/vi/{{video_id}}/hqdefault.jpg" height='360' width='480' yt:name='hqdefault'/>
			<media:thumbnail url="https://i.ytimg.com/vi/{{video_id}}/default.jpg" height='90' width='120' time='00:00:00.000' yt:name='start'/>
			<media:thumbnail url="https://i.ytimg.com/vi/{{video_id}}/default.jpg" height='90' width='120' time='00:00:00.000' yt:name='middle'/>
			<media:thumbnail url="https://i.ytimg.com/vi/{{video_id}}/default.jpg" height='90' width='120' time='00:00:00.000' yt:name='end'/>
			<media:content url="{{url}}/getvideo/{{video_id}}" type="video/mp4" medium="video" isDefault="true" expression="full" duration="0" yt:format="3" />
			<media:content url="{{url}}/getvideo/{{video_id}}" type="video/3gpp" medium="video" expression="full" duration="0" yt:format="2" />
			<media:content url="{{url}}/getvideo/{{video_id}}" type="video/mp4" medium="video" expression="full" duration="0" yt:format="8" />
			<media:content url="{{url}}/getvideo/{{video_id}}" type="video/3gpp" medium="video" expression="full" duration="0" yt:format="9" />
			<media:title type='plain'>{{description}}</media:title>
			<yt:duration seconds="{{length}}"/>
			<yt:uploaded>{{time}}</yt:uploaded>
			<yt:uploaderId>{{channel_id}}</yt:uploaderId>
			<yt:videoid>{{video_id}}</yt:videoid>
		</media:group>
		<gd:rating average='0' max='0' min='0' numRaters='0' rel='https://schemas.google.com/g/2005#overall'/>
		<yt:recorded>1970-08-22</yt:recorded>
		<yt:statistics favoriteCount='0' viewCount="{{views}}"/>
		<yt:rating numDislikes='0' numLikes='0'/>
		<yt:position>1</yt:position>
	</entry>
{% endfor %}

</feed>