<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unstable</title>
    <style>
        body {
            margin: 0;
            padding: 1em;
            font-family: helveticaneue;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            width: 700px;
        }
    </style>
</head>
<body>
    <h1><img src="/static/warning.gif"> TubeRepair server ({{version}})</h1>
    <hr>
    <p>Welcome to my backend. This was wrote in Python for the TubeRepair tweak by bag.xml (et al).</p>
    <p>This is now considered (kinda) stable, so check it out: <a href="https://github.com/kendoodoo/tuberepair-python">tuberepair-python</a> (github)</p>
    <h3>How can you add my server?</h3>
    <p>Open TubeRepair's setting and change the custom URL (don't forget "/" at the end!)</p>
    <br><center><img src="/static/example.jpg" width="300px"><br><br><small style="color:grey">psst, look at the url bar instead :)</small></center>
</body>
</html>
